/* colors */
:root{
  /* Theme 1 */
  /* --text-bg : #519975;
  --text-color : #211830;
  --background-color :  #211D1B;
  --blinking-cursor : #73ABAD;
  --text-desc : #DCDCCC;
  --color2 : #B89076;
  --white : #fff;
  --error : #9C8394; */

  /* theme 2 */
  --text-bg : #70B9FB;
  --text-color : #211830;
  --background-color :  #000;
  --blinking-cursor : #ffffff;
  --text-desc : #dbc905;
  --color2 : #8767BD;
  --white : #fff;
  --error : #FE0094;

}

body {
    margin: 0 !important;
    padding: 15px 20px !important;
    min-height: 99%;
    width: 100% !important;
    /* min-width: 550px; */
    color: #519975 !important;
    background: var(--background-color) !important;
    font-family: cursor, monospace !important;


  }
  ::selection {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  ::-moz-selection {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  textarea {
    left: -1000px;
    position: absolute;
  }
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Cursor Start */
  .cursor {
    font-size: 12px;
    color: var(--blinking-cursor);
    background-color: var(--blinking-cursor);
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: var(--blinking-cursor);
  }
  #liner {
    line-height: 1.3em !important;
    margin-top: -2px !important;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
  }
  #liner::before {
    color: #519975;
    content: "visitor:~$";
  }
  #liner.password::before {
    content: "Password:";
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */
  p {
    display: block;
    line-height: 1.3em !important;
    margin: 0 !important;
    overflow: visible;
    white-space: nowrap;
    margin: 0 !important;
    letter-spacing: 0.05em !important;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: var(--text-desc);
  }
  .color2 {
    color: var(--color2);
  }
  .command {
    color: var(--blinking-cursor);
    text-shadow: 0 0 5px var(--blinking-cursor); 
  }
  .error {
    color: var(--text-desc);
  }
  .white {
    color: var(--white);
  }
  .inherit,
  a {
    color: var(--error) !important;
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: var(--background-color);
    color: var(--text-color);
  }
  a:focus {
    outline: 0;
  }

  /* media query */
@media only screen and (max-width: 600px) {



  #terminal {
    overflow: visible;
    overflow-wrap: break-word;
  }


  .cmdLine{
    display: block;
   
  }

}